

.footer-site {
 position: relative;
 display: block;
 background-color: darkseagreen;
}

/* h3 {
 display: block;
 margin-block-start: 1em;
 margin-block-end: 1em;
 margin-inline-start: 0;
 margin-inline-end: 0;
} */




.footer-sidebar {
 width: 30%;
 /* position: relative; */
 display: inline-block;
 min-height: 1px;
 line-height: 24px;
 padding-right: 15px;
 padding-left: 15px;
 justify-content: center;
 box-sizing: border-box;
 font-size: 12px;
 overflow-wrap: break-word;
 position: relative;
 text-align: left;
}
